/* html{
  height: 100%;
  background: linear-gradient(#888b92, #2e343b);
} */
body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-image: url(ABW-2021-0042.jpg) ;
   background-size: cover;
}
  .p1{
    position: absolute;
    top: 92%;
    left: 43%;
    color: azure;
  }
  .p2{
    position: absolute;
    top: 5%;
    right: 90%;
    color: azure;
    font-weight: bold;
  }
  
  .user-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .user-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
    
  }
  .user-box h2:hover {
    
    color: yellow;
    
    
  }
  
  .user-box .insert-box {
    position: relative;
  }
  
  .user-box .insert-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .user-box .insert-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .user-box .insert-box input:focus ~ label,
  .user-box .insert-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: yellow;
    font-size: 12px;
  }
  
  
  .user-box form a .sub input {
    background-color:rgba(0,0,0,.5); 
    border: none;
    position: relative;
    left: 17%;
    display: inline-block;
    padding: 10px 20px;
    color: yellow;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    font-weight: bold;
  }
  
  .user-box a .sub input:hover {
    background: yellow;
    color: black;
    font-weight: bolder;
    border-radius: 5px;
    
  }
  
  .p2 a {
    background-color:rgba(0,0,0,.5); 
    border: none;
    position: relative;
    
    display: inline-block;
    padding: 10px 10px;
    color: gray;
    font-size: 16px;
    text-decoration: none;
    
    overflow: hidden;
    transition: .5s;
    
     letter-spacing: 4px
  }
  .p2 a:hover {
    background-color:yellow; 
    
    color: black;
    
  }